<h1>Create Container</h1>

<p>
    <a asp-action="Index"
    asp-controller="AzureBlobs">
        Back to containers
    </a>
</p>

<form method="post">
    <label>Container name</label>
    <input type="text" name="containername" class="form-control"/>
    <button class="btn btn-dark">
        Create
    </button>
</form>