@model List<string>

<h1 style="color:blue">
    Azure Storage Files
</h1>

<p>
    <a asp-controller="AzureFiles"
    asp-action="UploadFile">
        Upload Azure File
    </a>
</p>

@if(Model != null)
{
    <ul>
        @foreach(string file in Model)
        {
            <li class="list-group-item">
                @file
                <a asp-action="ReadFile"
                 asp-controller="AzureFiles"
                 asp-route-filename="@file"
                 class="btn btn-info">
                    Read File
                </a>
                <a asp-action="DeleteFile"
                 asp-controller="AzureFiles"
                 asp-route-filename="@file"
                 class="btn btn-danger">
                    Delete file
                </a>
            </li>
        }
    </ul>
}