<form method="post"
    enctype="multipart/form-data">
    
    <label>Seleccione un fichero</label>
    <input type="file" name="file" class="form-control"/>
    <button class="btn btn-dark">
        UPLOAD FILE @ViewData["DATA"]
    </button>
</form>